		.overlay {
			  height: 100%;
			  width: 0;
			  position: fixed;
			  z-index: 999;
			  top: 0;
			  right: 0;
			  background-color: white;
			  overflow-x: hidden;
			  transition: 0.5s;
			}

		.overlay-content {
			  position: relative;
			  top: 25%;
			  width: 100%;
			  text-align: center;
			  margin-top: 30px;
			  z-index: 999;
			}

		.overlay a {
			  padding: 8px;
			  text-decoration: none;
			  font-size: 30px;
			  font-family: 'GmarketSansBold';
			 line-height:70px;
			  color: #00ffad;
			  display: block;
			  transition: 0.3s;
			  z-index: 999;
			}

		.overlay a:hover, .overlay a:focus {
			  color: #00d097;
			}

		.overlay .closebtn {
			  position: absolute;
			  top: 20px;
			  right: 45px;
			  font-size: 60px;
			  z-index: 999;
			}

		.menuicon{margin-top:10px; margin-left:82vw; display: none; z-index:999;}

		@media screen and (max-height: 450px) {
		  .overlay a {font-size: 20px}
		  .overlay .closebtn {
		  font-size: 40px;
		  top: 15px;
		  right: 35px;
		  }
		}

		@media screen and (max-width:800px){
			.menuicon{display: block;}
		}

		@media screen and (max-width:800px){
			.top{display: none;}
		}




